# ── Supabase ──────────────────────────────────────────────
SUPABASE_SERVICE_ROLE_KEY=sb_secret_w-E1ZmJKeW7KDRnOYLhKHg_dLd-sCns

NEXT_PUBLIC_SUPABASE_URL=https://fsiwgcrnxirgvkmdmvgd.supabase.co
# ── GitHub ────────────────────────────────────────────────
GITHUB_TOKEN=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

# ── Kaggle ────────────────────────────────────────────────
KAGGLE_USERNAME=awshanaqtah
KAGGLE_KEY=c14a0c4939e81971fd6a5e85f601d7f7

# ── HuggingFace ───────────────────────────────────────────
HF_TOKEN=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

# ── HackTheBox ────────────────────────────────────────────
HTB_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI1IiwianRpIjoiYzVhYzQyMTcyODczYTk0ZmM5N2Q1MmFkZDEyOTdmNTM2YzIzMDYyZjE5MTE2YWM1OThhYjY2Y2VjZDczZmUwODc2MzRiZDY3YjY3NGQ0MTIiLCJpYXQiOjE3NzUzMjcyNTUuMzI2MTA1LCJuYmYiOjE3NzUzMjcyNTUuMzI2MTA4LCJleHAiOjE4MDY4NjMyNTUuMzE5MjczLCJzdWIiOiIzMzQxNjEwIiwic2NvcGVzIjpbXX0.SKvP5CkCq1BlwrZWmLDuKhkRonAXCktxNr8GuRCWUzNPCI5AfygEHehsuk2HG_JKaqAsslQ6IICq1vr2wRdd6M2PUjwZNsVbjtxqZLzz3On_28HgpM1jQe-Hde124DwOucDQNULNON5da98uSzE4BmwEUn3yAp6dwh4S8rh5pq30cq2o24qggAbMcUymVzMa9ppohWYTHUAu0fPeCSjt3VcUqbbKwNHf99cbLXKsSXhbTXuikLa38F3zmwIwXxmXFWuDjsr2306XBWHZ_r0DOiKktT4Z6HLqeOiLOvyrP3R-7LDWa9pvort6YeWCXVKeWeUl2b6lzmi5iVY1sou9uqhNBSd7F0sSdxq4VVfT5vPZ9TnhyteZbGUYNg4_WTo-k_CJUMBVg4HoKVQNqkduIscm0wh2buDei3YsL5r8VQ96fY5a1pcs0lgr5a_x8CRXevne-V7WuUdJOtfO87tuV9v7x-6RT1BMbLUUxSPPaBTrhmC9TDEFJ0tcJkgCbenja6vKm3nxbnnaeTYT_XI44dZViiGCcnG1MCi8tJlDbNqHVZ9EAG-oxLwyMevZrNgPnRFKtvgby3TgPF2SXCEVFnkp_Gnyj-HXGy7UMBlswU0GwQEsk2JA7JX1K9vg0l_GrTptamIDBdb2A5KhBWuBe-28hyml5elxXOpuAuY9rHQ

# ── CTFtime ───────────────────────────────────────────────
# No key needed — public API

# ── GitLab ────────────────────────────────────────────────
GITLAB_TOKEN=glpat-ZctqyQotVRpwelyktAApuWM6MQpvOjEKdTpscWQ5cQ8.01.170qe79ji
